@media screen and (max-height: 900px) {
  .mt-5 {
    margin-top: 8rem;
  }
}

.pagination {
  text-align: center;
}

.pagination li {
  display: inline-block;
  padding: 15px 5px 0px;
  position: relative;
  margin: 0px 5px;
  font-weight: 700;
  font-size: 18px;
  vertical-align: top;
}

.pagination a {
  color: #DCDFE0;
}

.pagination li:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2px;
  /*background: rgba(139, 149, 153, 0.3);*/
  background: none;
}

.pagination li:hover {
  color: #FFB833;
}

.pagination a:hover {
  color: #FFB833 !important;
}

.pagination li:hover:before {
  /*background: #FFB833;*/
  background: none;
}

.pagination .active a{
  font-size: 18px;
  color: #FFB833;
  padding-left: 10px;
  padding-right: 10px;
}

.pagination .active a:before {
  background: #FFB833;
}



.video-home.content-description-home {
  padding-top: 40px !important;
  padding-bottom: 0px !important;
  margin-bottom: 70px !important;
}

@import "../fonts/lato/stylesheet.css";

.container-promag {  
  color: #333;
  font-size: 20px;
  font-family: "Lato"; 
  position: relative;
  overflow-x: hidden;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


.container-promag h1 {
    color: #43b02a;
    font-size: 20px !important;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 15px !important;
    text-align: center;
  }
  
  .container-promag h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .container-promag h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .container-promag p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  .maagmeter-qst h5 {
    text-transform: capitalize !important;
  }
  
  .std-content h5 {
    font-size: 20px;
    text-transform: capitalize !important;
  }
  
  .container-promag {
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  
  .slide-1 .box-radio-custom .ls img {
    height: 80px !important;
  }

  .box-radio-custom .ls figure {
    margin-top: 10px;
  }

  .box-radio-custom .ls figure {
    width: 100%;
  }

  .maagmeter-qst {
    padding-top: 100px;
  }

  .slide-1 .box-radio-custom .ls,
  .slide-2 .box-radio-custom .ls {
    margin-bottom: 0px !important;
  }

  

  .slider-maagmeter .list>p {
    margin-bottom: 20px !important;
  }

  @media (min-width: 1200px) {
    .maagmeter-qst .wrapper {
      /* width: 80%; */
  }
}

  @media screen and (min-width: 1200px) {
    .container-promag {
      height: 205px;
      overflow: hidden;
      position: relative;
    }
    .slide-3 h5,
    .slide-4 h5 {
      margin-top: 50px !important;
    }
  }

  @media screen and (max-width: 800px) {
    .container-promag {
      height: 266px;
      overflow: hidden;
      position: relative;
    }
  }
  
  @media screen and (max-width: 576px) {
    .container-promag {
      height: 350px;
      overflow: hidden;
      position: relative;
    }
  }

  @media screen and (max-width: 400px) {
    .container-promag {
      height: 452px;
      overflow: hidden;
      position: relative;
    }
  }
  
  .container-promag::before {
    content: "";
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      white 50%,
      white 100%
    );
    position: absolute;
    height: 94px;
    width: 100% !important;
  }
  
  .step-by-step-article {
    margin-top: 190px !important;
  }
  
  .container-promag.expanded {
    height: auto;
    overflow: hidden;
  }
  
  .container-promag.expanded::before {
    display: none;
  }
  
  .wrapper .button-wrapper {
    text-align: center;
  }
  
  .wrapper .button-wrapper button {
    background: none;
    border: none;
    color: #43b02a;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
  }
  
  .arrow {
    border: solid #43b02a;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-top: -10px;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 5px;
    position: absolute;
  }

  .d-none {
    display: none !important;
  }
  

  

  .indicator-slidemaagmeter {
    border-radius: 50px;
    height: 15px;
    overflow: hidden;
    width: 85% !important;
    /* margin: 10px !important; */
    top: auto !important;
    bottom: -70px !important;
  }

  .indicator-text {
    position: absolute;
    bottom: -105px !important;
    /* margin-left: -10px; */
    width: 85% !important;
    margin: auto;
    left: 0;
    right: 0;
  }

  .slide-1 span {
    color: #45565c;
    display: block;
    font-size: 14px;
    margin-bottom:5px;
  }

  .indicator-text .col-wrapper {
    display: flex;
    width: 100%;
  }

  .indicator-text .col-wrapper .col-1 {
    text-align: left;
    width: 50%;
  }

  .indicator-text .col-wrapper .col-2 {
    text-align: right;
    width: 50%;
  }

  .indicator-wrapper {
    padding: 10px;
    position: relative;
  }
  
  .indicator-slidemaagmeter span {
    border-radius: 80px;
  }

  .slider-maagmeter {
    margin-bottom: 50px;
  }

  .slide-1 .box-radio-custom .ls img {
    height: 80px !important;
  }

  .slide-1 .box-radio-custom .ls span {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 5px !important;
  }

  .slide-1 .box-radio-custom .ls {
    padding: 15px !important; 
  }

  .slide-2 .box-radio-custom .ls figure img {
    height: 85px !important;
  }

  
  .slide-2 .box-radio-custom .ls span {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 5px !important;
  }

  .slide-3 .box-radio-custom.sidebyside .ls,
  .slide-4 .box-radio-custom.fullside .ls input[type=checkbox], .box-radio-custom.fullside .ls input[type=radio]{
    padding: 0px !important;
  }

  .slide-4 .box-radio-custom.fullside .ls {
    padding: 0px !important;
  }
  .slide-4 .box-radio-custom.fullside .ls span {
    padding-left: 45px !important;
  }

  @media screen and (min-width: 1400px) {
    .slide-2 .box-radio-custom {
      /* left: -1030px !important; */
      /* width: 999px !important; */
      padding: 50px !important;
      padding-bottom: 0px !important;
      padding-top: 0px !important;
    }
    /* .slide-3 {
      left: -1992px !important;
    }
    .slide-3 {
      left: -2040px !important;
    } */
  }

  @media screen and (max-height: 900px) and (max-width: 768px) {
    .slider-maagmeter .list>p {
      margin-bottom: 10px !important;
    }
    .maagmeter-qst {
      padding-top: 80px !important;
    }
    .maagmeter-qst h5 {
      margin-bottom: 12px !important;
    }
    .indicator-slidemaagmeter {
      bottom: -40px !important;
    }
    .indicator-text {
      bottom: -70px !important;
    }
    .slide-3 .box-radio-custom.sidebyside .ls {
      margin-bottom: 7px !important;
    }
  }


  @media (max-width: 720px){
    .box-radio-custom .ls {
        display: block;
        text-align: center;
        width: 23%;
        margin: 5px 3px;
        padding: 10px !important;
        text-align: left;
    } 
    .slide-1 span {
      font-size: 13px;
    }
    .slide-1 .box-radio-custom .ls {
      padding: 15px !important;
      padding-bottom: 7px !important;
    }
    .slider-maagmeter .list>p {
      max-width: 100%;
    }
    .slide-1 .box-radio-custom .ls img {
      max-height: 40px !important;
      width: auto;
      max-width: 45px;
    }
    .slide-2 .box-radio-custom .ls figure img {
      height: 60px !important;
      /* width: 100%; */
    }
    .slide-2 h5,
    .slide-3 h5,
    .slide-4 h5 {
      margin-top: 20px !important;
    }
    .side-img-qst {
      padding-top: 10px !important;
    }
    .slide-2 .box-radio-custom .ls figure {
      /* height: 60px !important; */
    }
    .slider-maagmeter .slide-4>p {
      min-height: 0px !important;;
    }
    .slide-4 .maagmeter-qst figure {
      margin-bottom: 10px !important;
    }
    .slider-maagmeter {
      margin-bottom: 20px !important;
    }
    .maagmeter-qst .wrapper {
      padding: 0px;
    }
    .slide-1 .box-radio-custom .ls span {
      font-size: 12px;
      padding: 0px !important;
    }
    .slide-2 .box-radio-custom .ls span {
      font-size: 12px;
      padding: 0px !important;
    }
    .box-radio-custom .ls figure {
      margin-bottom: 6px !important;
    }
    .indicator-slidemaagmeter {
      margin: 10px;
      width: 95% !important;
    }
    .indicator-text {
      margin: 10px;
      width: 91% !important;
    }
    .step-by-step-article {
      margin-top: 120px !important;
    }
    .container-promag h1 {
      font-size: 18px !important;
    }
}

@media screen and (max-height: 700px) {
  .maagmeter-qst {
    padding-top: 65px !important;
  }
  .banner-maag-meter-start {
    max-width: 80%;
  }
}

@media (max-width: 400px) {
  .maagmeter-qst figure img {
      max-width: 125px; 
  }
  .maagmeter-qst figure {
    margin-bottom: 15px !important;
  }
  .maagmeter-qst figure:last-child {
    margin-bottom: 0px !important;
  }
  .banner-home figure .obj span.objbot-green {
    width: 28%;
    margin-top: 197px;
    left: 20px;
  }
  .banner-home-responsive {
    max-width: 80%;
  }
}